{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Responsive Registration Form | CodingLab </title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/semester.css' %}">
     
     <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>

  <!--navbar-->
  <div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" style="font-size: 30px;" href="#"> <img src="{% static 'logo.jpeg' %}" alt="img" width="30px" height="30px"> <h1 >Gpg Placement</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rules">Rules</a>
            </li>
              
  
        </div>
      </div>
    </nav>
  </div>

<!--register page-->

<script src="{% static 'js/javascript.js' %}" type="text/javascript">
</script>
               <div class="heading">
              <p>Semeter Details</p>
              </div>  
              
               <form action="{% url 'semester'  %}" name="semester" method="post" enctype="multipart/form-data" id="semeter" >
                {% csrf_token %} 
                <input type="hidden" name="eno_id" value="{{ my_var }}">            
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
                
            <div class="input-box">  
                <div class="listcheckbox">
                                                        
                  
                    <label for="myMultiselect" style="font-weight: 500;">Backlog in Any Sem?</label>
                    <div id="myMultiselect" class="multiselect">
                      <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
                        <select class="form-select">
                          <option value="0">somevalue</option>
                        </select>
                        <div class="overSelect"></div>
                      </div>
                      <div id="mySelectOptions">
                        <label for="one"><input type="checkbox" id="one" onchange="checkboxStatusChange()" value="1" name="block" />1 Semeter</label>
                        <label for="two"><input type="checkbox" id="two" onchange="checkboxStatusChange()" value="1" name="block" />2 Semeter</label>
                        <label for="three"><input type="checkbox" id="three" onchange="checkboxStatusChange()" value="" name="block"/>3 Semeter</label>
                        <label for="four"><input type="checkbox" id="four" onchange="checkboxStatusChange()" value="1" name="block"/>4 Semeter</label>
                        <label for="five"><input type="checkbox" id="five" onchange="checkboxStatusChange()" value="1" name="block" />5 Semeter</label>
                        <label for="six"><input type="checkbox" id="six" onchange="checkboxStatusChange()" value="1" name="block" />6 Semeter</label>
                        
                      </div>
                      
                      <small>Error message</small>
                    </div>
                  </div>
                
                </div>
              </div>

                <script>
                    window.onload = (event) => {
                        initMultiselect();
                      };
                      
                      function initMultiselect() {
                        checkboxStatusChange();
                      
                        document.addEventListener("click", function(evt) {
                          var flyoutElement = document.getElementById('myMultiselect'),
                            targetElement = evt.target; // clicked element
                      
                          do {
                            if (targetElement == flyoutElement) {
                              // This is a click inside. Do nothing, just return.
                              //console.log('click inside');
                              return;
                            }
                      
                            // Go up the DOM
                            targetElement = targetElement.parentNode;
                          } while (targetElement);
                      
                          // This is a click outside.
                          toggleCheckboxArea(true);
                          //console.log('click outside');
                        });
                      }
                      
                      function checkboxStatusChange() {
                        var multiselect = document.getElementById("mySelectLabel");
                        var multiselectOption = multiselect.getElementsByTagName('option')[0];
                      
                        var values = [];
                        var checkboxes = document.getElementById("mySelectOptions");
                        var checkedCheckboxes = checkboxes.querySelectorAll('input[type=checkbox]:checked');
                      
                        for (const item of checkedCheckboxes) {
                          var checkboxValue = item.getAttribute('value');
                          values.push(checkboxValue);
                        }
                      
                        var dropdownValue = "Nothing is selected";
                        if (values.length > 0) {
                          dropdownValue = values.join(', ');
                        }
                      
                        multiselectOption.innerText = dropdownValue;
                      }
                      
                      function toggleCheckboxArea(onlyHide = false) {
                        var checkboxes = document.getElementById("mySelectOptions");
                        var displayValue = checkboxes.style.display;
                      
                        if (displayValue != "block") {
                          if (onlyHide == false) {
                            checkboxes.style.display = "block";
                          }
                        } else {
                          checkboxes.style.display = "none";
                        }
                      }
                      
                </script>
                <br>
                <div class="division">
                    <div class="input-box">
                           <span class="details">Overall CPI:</span>
                           <input type="text"  name="cpi" id="cpi">
                           <small>Error message</small>
                    </div>
                    
                    <div class="input-box">
                           <span class="details">CGPA</span>
                           <input type="text"  name="cgpa" id="cgpa">
                           <small>Error message</small>
                    </div> 
                </div>
                <div class="division">
                 
                       <div class="input-box">    
                           <span class="details">1st CPI:</span>
                           <input type="text"  name="spi1" id="first">
                           <small>Error message</small>
                       </div>       
                       <div class="input-box"> 
                           <span class="details">2nd CPI:</span>
                           <input type="text"  name="spi2" id="second">
                           <small>Error message</small><br>
                       </div>
                </div>
                
                <div class="division">

                       <div class="input-box">            
                           <span class="details">3rd CPI:</span>
                           <input type="text"  name="spi3" id="thrid">
                           <small>Error message</small><br>
                       </div>
                           
                           <div class="input-box"> 
                           <span class="details">4th CPI:</span>
                           <input type="text"  name="spi4" id="forth">
                           <small>Error message</small><br>
                           </div>
                </div>  
                
                <div class="division">
                           
                           <div class="input-box"> 
                           <span class="details">5th CPI:</span>
                           <input type="text"  name="spi5" id="fifth">
                           <small>Error message</small><br>
                           </div>

                           <div class="input-box"> 
                           <span class="details">6th CPI:</span>
                           <input type="text"  name="spi6" id="sixth">
                           <small>Error message</small><br>
                           </div>
                </div>
                
                <input type="submit" value="Save & Next">       
             
           </form>   
           
          

           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/semester.js' %}"></script>
         
<!--footer-->

<footer class="bg-dark text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container-right">
    <!--Grid row-->
 
      <!--Grid column-->
    <div class="container-two-side"> 
      
       
        <div class="left-column">
          <p style="font-size: 20px;">
          Government polytechnic For Girls Navragpura,Ahmedabad,India
          </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      
       
        <p style="font-size: 20px;">
          Maintained By:- Computer Department
        </p>
        
  
    </div>

    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://gpgplacement.com/">gpgplacement.com</a>
  </div>
  <!-- Copyright -->
</footer>



 









<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
