{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'css/sdashboard.css' %}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   


<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>
<body>
    <!--navbar-->  
<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" style="font-size: 30px;" href="#"> <img src="{% static 'logo.jpeg' %}" alt="img" width="30px" height="30px"> <h1 >Gpg Placement</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' student_id=my_data.eno_id %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listjob">New Vacancy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/applied_jobs" id="job-application-submit-btn">Applied Vacancy</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'slogout' %}">Logout</a>
          </li>



      </div>
    </div>
  </nav>
</div>



<!--displaying data-->
                  <div class="heading">
                    <div class="title">Personal Details</div>
                      <a href="/student_edit"><input type="submit" value="Edit Profile" class="edit" ></a> 
                  </div>  
            
                      <div class="layout">
<input type="hidden" name="enrollmemt" value="{{my_data.eno_id}}">
                        <table class="styled-table">
                          <tr>
                            <td>Photo</td>
                            <td><img src="{{ my_data.image.url }}" width="120px" height="120px" alt="image"/></td>
                          </tr>
                          
                          <tr>
                            <td>Enrollment Number</td>
                            <td>{{my_data.eno_id}}</td>
                          </tr>


                          <tr>
                            <td>First Name</td>
                            <td>{{my_data.fname}}</td>
                          </tr>
                          
                          <tr>
                            <td>Last Name</td>
                            <td>{{my_data.lname}}</td>
                          </tr>

                          <tr>
                            <td>Email</td>
                            <td>{{my_data1.email}}</td>
                          </tr>
                          
                          <tr>
                            <td>10th Board Name:</td>
                            <td>{{my_data.bordname_10}}</td>
                          </tr>
                          
                          <tr>
                            <td>Percentage of 10th:</td>
                            <td>{{my_data.percent_10}}</td>
                          </tr>

                          <tr>
                            <td>10th Passing Year:</td>
                            <td>{{my_data.passyear_10}}</td>
                          </tr>

                          <tr>
                            <td>12th Board Name:</td>
                            <td>{{my_data.bordname_12}}</td>
                          </tr>


                          <tr>
                            <td>Percentage of 12th:</td>
                            <td>{{my_data.percent_12}}</td>
                          </tr>

                          <tr>
                            <td>12th Passing Year:</td>
                            <td>{{my_data.passyear_12}}</td>
                          </tr>

                          <tr>
                            <td>Birthdate</td>
                            <td>{{my_data.dob}}</td>
                          </tr>

                          <tr>
                            <td>Branch</td>
                            <td>{{my_data1.branch}}</td>
                          </tr>

                          <tr>
                            <td>Gender</td>
                            <td>{{my_data.gender}}</td>
                          </tr>

                          <tr>
                            <td>Qualification</td>
                            <td>{{my_data.qualification}}</td>
                          </tr>

                          <tr>
                            <td>Diploma Status</td>
                            <td>{{my_data.status}}</td>
                          </tr>

                          <tr>
                            <td>Starting Year</td>
                            <td>{{my_data.start_year}}</td>
                          </tr>

                          <tr>
                            <td>Ending Year</td>
                            <td>{{my_data.end_year}}</td>
                          </tr>

                          <tr>
                            <td>Interested in Placement?</td>
                            <td>{{my_data.interest}}</td>
                          </tr>


                        </table>  
                      </div>  

                      <div class="heading1">

                        <div class="title">Semeter Details</div>
                        </div>
                        
                        
                        <table class="styled-table">
                          


                          <tr>
                            <td>CPI</td>
                            <td>{{my_data2.cpi}}</td>
                          </tr>
                          
                          <tr>
                            <td>CGPA</td>
                            <td>{{my_data2.cgpa}}</td>
                          </tr>

                          <tr>
                            <td>Total block?</td>
                            <td>{{my_data2.total_block}}</td>
                          </tr>
                          
                          
                          
                          
                          
                          

                          <tr>
                            <td>1st sem SPI:</td>
                            <td>{{my_data2.spi1}}</td>
                          </tr>

                          <tr>
                            <td>2nd sem SPI:</td>
                            <td>{{my_data2.spi2}}</td>
                          </tr>

                          <tr>
                            <td>3rd sem SPI:</td>
                            <td>{{my_data2.spi3}}</td>
                          </tr>

                          <tr>
                            <td>4th sem SPI:</td>
                            <td>{{my_data2.spi4}}</td>
                          </tr>
                          <tr>
                            <td>5th sem SPI:</td>
                            <td>{{my_data2.spi5}}</td>
                          </tr>

                          <tr>
                            <td>6th sem SPI:</td>
                            <td>{{my_data2.spi6}}</td>
                          </tr>
                        </table> 













<!--login form-->

  
<!--Footer-->

				
<footer class="bg-dark text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container-right">
    <!--Grid row-->
 
      <!--Grid column-->
    <div class="container-two-side"> 
      
       
        <div class="left-column">
          <p style="font-size: 20px;">
          Government polytechnic For Girls Navragpura,Ahmedabad,India
          </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      
       
        <p style="font-size: 20px;">
          Maintained By:- Computer Department
        </p>
        
  
    </div>

    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://gpgplacement.com/">gpgplacement.com</a>
  </div>
  <!-- Copyright -->
</footer>
  

   
 



  
 
  <script src="{% static 'js/javascript.js' %}" type="text/javascript">
  </script>
  

 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>